{% extends "base.html" %}
{% block title %}
<title>Ricerca Magazzino</title>
{% endblock %}


{% block body %}
 

<div>  
  <form action="/ricerca" method="GET" ID="InserimentoCodice">
    <div class = "form-group">
        <input type="text" id = "codice" placeholder="Codice Articolo">
        <button class="btn btn-outline-success" type="submit">Cerca</button>
      </div>


      {% block ricerca %}
      {% endblock ricerca %}
  
    </form>


<script>
    function CercaCodice() {
    var codice = document.forms.InserimentoCodice.codice.value;
    disp(codice)
        
    }
</script>



</div>

{% endblock body %}




