{% extends "base.html" %}
{% block title %}
<title>Ricerca Magazzino</title>
{% endblock %}


{% block body %}

<div>  
  <form action="/ricerca" method="GET">
    <div class = "form-group">
        <input type="text" id = "codice" placeholder="Codice Articolo">
        <button class="btn btn-outline-success" type="submit">Cerca</button>
      </div>

      {% block ricerca %}
      {% endblock ricerca %}
  
    </form>

<script>

  var x = document.getElementById(codice)


</script>


</div>

{% endblock body %}




